body {
  margin: 0%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 5px;
  background-color: rgb(37, 156, 126);
  position: fixed;
  z-index: 11;
  width: 100%;
  justify-content: center;
  gap: 10rem;
}

.menu > img {
  justify-self: flex-start;
  align-self: flex-start;
  width: 10rem;
}

.menu > .botones {
  margin-right: 1.5rem;
}

.menu > .botones > button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
}

.menu > .botones > button:hover {
  font-size: 1.2rem;
  cursor: pointer;
}

.fondoini {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 107px;
  width: 100%;
}

.fondoini > p {
  position: absolute;
  font-size: 10rem;
  color: white;
}

.fondoini > img {
  width: 100%;
  filter: brightness(50%);
}

@media (max-width: 1100px) {
  .fondoini > p {
    font-size: 3rem;
  }
}

.contacto {
  background-color: rgb(37, 156, 126);
  width: 100%;
  display: flex;
  flex-flow: row;
}

.contacto > ul {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  color: white;
  gap: 1.5rem;
}

.mapa {
  background-color: blue;
  width: 50%;
  height: 300px;
}
